<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom MadLib Story!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fill the form to create a MadLib story.</h1>
    <form action="/postcard" method="post">
     <label for="Person2">Person2's Name</label>
     <input id="Person2" name="Person2" type="text">
     <label for="Person1">Person1's Name</label>
     <input id="Person1" name="Person1" type="text">
     <label for="animal">Vacation animal</label>
     <input id="animal" name="animal" type="text">
     <label for="exclamation">exclamation</label>
     <input id="exclamation" name="exclamation" type="text">
     <label for="verb">verb</label>
     <input id="verb" name="verb" type="text">
    <label for="noun">noun</label>
     <input id="noun" name="noun" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>